<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProperty scope="context" name="LOGSTASH_APPLICATION_NAME" source="spring.application.name"/>
    <springProperty scope="context" name="LOGSTASH_LOG_FILE_CLEAN_HISTORY_ON_START" source="logstash.log-file-clean-history-on-start"/>
    <springProperty scope="context" name="LOGSTASH_ROLLING_FILE_NAME_PATTERN" source="logstash.rolling-file-name-pattern"/>

    <appender name="STASH" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGSTASH_APPLICATION_NAME:-application}-logback.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <cleanHistoryOnStart>${LOGSTASH_LOG_FILE_CLEAN_HISTORY_ON_START:-false}</cleanHistoryOnStart>
            <fileNamePattern>${LOGSTASH_ROLLING_FILE_NAME_PATTERN:-${LOGSTASH_APPLICATION_NAME:-application}-logback.%d{yyyy-MM-dd}}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <springProfile name="staging">
    </springProfile>

    <springProfile name="dev | staging">
    </springProfile>

    <springProfile name="!production">
    </springProfile>

    <root level="INFO">
        <appender-ref ref="STASH" />
    </root>
</configuration>