.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
*.crt
.idea

.vagrant/
.vagrant.d/
join-command
facts.json
provision-*.sh
*inventory.yml