credentials:
  system:
    domainCredentials:
    - credentials:
      - basicSSHUserPrivateKey:
          description: "Default gerrit"
          id: "gerrit"
          privateKeySource:
            directEntry:
              privateKey: ${gerrit-ssh}
          scope: GLOBAL
          username: "jenkins"