jenkins:
  agentProtocols:
    - JNLP4-connect
    - Ping
  authorizationStrategy:
    loggedInUsersCanDoAnything
  labelAtoms:
    - name: master
  myViewsTabBar: standard
  primaryView:
    all:
      name: all
  quietPeriod: 5
  scmCheckoutRetryCount: 0
  slaveAgentPort: 50000
  updateCenter:
    sites:
      - id: default
        url: 'https://updates.jenkins.io/update-center.json'
  views:
    - all:
        name: all
  viewsTabBar: standard
  securityRealm:
    ldap:
      configurations:
        - displayNameAttributeName: cn
          inhibitInferRootDN: false
          managerDN: 'cn={{jenkins.ldap.ldap_user}},{{jenkins.ldap.root_dn}}'
          managerPasswordSecret: {{ldap_password}}
          rootDN: '{{jenkins.ldap.root_dn}}'
          server: {{jenkins.ldap.server}}
      disableMailAddressResolver: false
      disableRolePrefixing: true
      groupIdStrategy: caseInsensitive
      userIdStrategy: caseInsensitive
unclassified:
  buildDiscarders:
    configuredBuildDiscarders:
      - jobBuildDiscarder
  fingerprints:
    fingerprintCleanupDisabled: false
    storage: file
  gitSCM:
    allowSecondFetch: false
    createAccountBasedOnEmail: false
    disableGitToolChooser: false
    hideCredentials: false
    showEntireCommitSummaryInChanges: false
    useExistingAccountWithSameEmail: false
  junitTestResultStorage:
    storage: file
  mailer:
    charset: UTF-8
    useSsl: false
    useTls: false
  pollSCM:
    pollingThreadCount: 10
  timestamper:
    allPipelines: true
    elapsedTimeFormat: '''<b>''HH:mm:ss.S''</b> '''
    systemTimeFormat: '''<b>''HH:mm:ss''</b> '''
tool:
  git:
    installations:
      - home: git
        name: Default