[gerrit]
  basePath = git
  serverId = 08bdfaeb-f1f9-402c-9496-1aedbbde3b8a
  canonicalWebUrl = http://gerrit.local/
  ui = POLYGERRIT
[database]
  type = POSTGRESQL
  hostname = gerrit-database-service
  port = 5432
  database = reviewdb
[index]
  type = LUCENE
[auth]
  type = LDAP
[ldap]
  server = ldap://ldap-service.ldap-namespace

  accountBase = ou=people,dc=my-company,dc=com
  accountPattern = (&(objectClass=inetOrgPerson)(uid=${username}))
  accountFullName = cn
  accountEmailAddress = mail

  groupBase = ou=groups,dc=my-company,dc=com
  groupMemberPattern = (&(objectClass=posixGroup)(memberUid=${username}))
[receive]
  enableSignedPush = false
[sendemail]
  smtpServer = localhost
[container]
  user = gerrit
  javaHome = /usr/lib/jvm/jre-openjdk
[sshd]
  listenAddress = *:29418
[httpd]
  listenUrl = http://*:8080/
[cache]
  directory = cache