adminPassword: {{ admin_password }}
env:
  LDAP_DOMAIN: {{ ldap_domain }}
  LDAP_ORGANISATION: {{ ldap_organisation }}
  LDAP_READONLY_USER: "true"
customLdifFiles:
  export.ldif: |-
    {{ ldif | indent(width=4) }}
