adminPassword: {{ admin_password }}
env:
  LDAP_DOMAIN: {{ ldap_domain }}
  LDAP_ORGANISATION: {{ ldap_organisation }}
  LDAP_READONLY_USER: "true"
customLdifFiles:
  export.ldif: |
    {% filter indent(width=4,blank=True) %}{% include 'export.ldif.j2' %}{% endfilter %}
