[auth]
    registerEmailPrivateKey = m9HMpzcaWiqEUw7U+qE8y4iTG01CU3CspfY=
[database]
    username = postgres
    password = Askiv4ViRfCUdiwT
[ldap]
    username = cn=readonly,dc=example,dc=org
    password = readonly
    # Password for the keystore added as value for 'gerritReplica.keystore'
# Only needed, if SSL is enabled.
#[httpd]
#  sslKeyPassword = gerrit

# Credentials for replication targets
# [remote "replica"]
# username = git
# password = secret