[gerrit]
    basePath = git # FIXED
    serverId = 08bdfaeb-f1f9-402c-9496-1aedbbde3b8a
    # The canonical web URL has to be set to the Ingress host, if an Ingress
    # is used. If a LoadBalancer-service is used, this should be set to the
    # LoadBalancer's external IP. This can only be done manually after installing
    # the chart, when you know the external IP the LoadBalancer got from the
    # cluster.
    canonicalWebUrl = https://{{ release_name }}.{{ domain }}/
    canonicalGitUrl = git://{{ release_name }}.{{ domain }}/
    disableReverseDnsLookup = true
    ui = POLYGERRIT
[index]
    type = LUCENE
    onlineUpgrade = false # FIXED
[auth]
    type = LDAP
[ldap]
    server = {{ LDAP_SERVER }}

    accountBase = ou=people,{{ LDAP_DC }}
    accountPattern = (&(objectClass=inetOrgPerson)(uid=${username}))
    accountFullName = cn
    accountEmailAddress = mail

    groupBase = ou=groups,{{ LDAP_DC }}
    groupMemberPattern = (&(objectClass=posixGroup)(memberUid=${username}))
[httpd]
    # If using an ingress use proxy-http or proxy-https
    listenUrl = {{ HTTPD_LISTEN_URL }}
    requestLog = true
[sshd]
    listenAddress = *:29418
    advertisedAddress = ssh.{{ release_name }}.{{ domain }}:29418
[transfer]
    timeout = 120 s
[user]
    name = Gerrit Code Review
    email = gerrit@{{ domain }}
    anonymousCoward = Unnamed User
[cache]
    directory = cache
[container]
    user = gerrit # FIXED
    javaHome = /usr/lib/jvm/java-1.8-openjdk # FIXED
    javaOptions = -Djavax.net.ssl.trustStore=/var/gerrit/etc/keystore # FIXED
    javaOptions = -Xms200m
    # Has to be lower than 'gerrit.resources.limits.memory'. Also
    # consider memories used by other applications in the container.
    javaOptions = -Xmx4g
