gerrit:
  plugins:
    packaged:
    - "commit-message-length-validator"
    - "download-commands"
    - "replication"
    - "reviewnotes"
    - "webhooks"
    - "gitiles"
    - "hooks"
    - "plugin-manager" 
    - "delete-project"
    - "codemirror-editor"
  service:
    type: LoadBalancer
    ssh:
      enabled: true
      port: 29418
  etc:
    config:
      gitiles.config: |
        {% filter indent(width=8,blank=True) %}{% include 'gitiles.config.j2' %}{% endfilter %}

      project.config: |
        {% filter indent(width=8,blank=True) %}{% include 'project.config.j2' %}{% endfilter %}

      gerrit.config: |
        {% filter indent(width=8,blank=True) %}{% include 'gerrit.config.j2' %}{% endfilter %}

    secret:
      secure.config: |
        {% filter indent(width=8,blank=True) %}{% include 'secure.config.j2' %}{% endfilter %}

      ssh_host_ecdsa_384_key: |
        {% filter indent(width=8,blank=True) %}{% include 'ssh_host_ecdsa_384_key' %}{% endfilter %}

      ssh_host_ecdsa_384_key.pub: |
        {% filter indent(width=8,blank=True) %}{% include 'ssh_host_ecdsa_384_key.pub' %}{% endfilter %}

      ssh_host_ecdsa_521_key: |
        {% filter indent(width=8,blank=True) %}{% include 'ssh_host_ecdsa_521_key' %}{% endfilter %}

      ssh_host_ecdsa_521_key.pub: |
        {% filter indent(width=8,blank=True) %}{% include 'ssh_host_ecdsa_521_key.pub' %}{% endfilter %}

      ssh_host_ecdsa_key: |
        {% filter indent(width=8,blank=True) %}{% include 'ssh_host_ecdsa_key' %}{% endfilter %}

      ssh_host_ecdsa_key.pub: |
        {% filter indent(width=8,blank=True) %}{% include 'ssh_host_ecdsa_key.pub' %}{% endfilter %}

      ssh_host_ed25519_key: |
        {% filter indent(width=8,blank=True) %}{% include 'ssh_host_ed25519_key' %}{% endfilter %}

      ssh_host_ed25519_key.pub: |
        {% filter indent(width=8,blank=True) %}{% include 'ssh_host_ed25519_key.pub' %}{% endfilter %}

      ssh_host_rsa_key: |
        {% filter indent(width=8,blank=True) %}{% include 'ssh_host_rsa_key' %}{% endfilter %}

      ssh_host_rsa_key.pub: |
        {% filter indent(width=8,blank=True) %}{% include 'ssh_host_rsa_key.pub' %}{% endfilter %}

storageClasses:
 default:
   name: {{ storage_class }}
 shared:
   name: {{ storage_class }}
